
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyiha</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
{% block content %}



        <div class="container">
            <div class="row py-5">
            <div class="col-4"><div class="card" style="width: 23rem; height: 30;">
                <img src="../media/img/images.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div></div>
            <div class="col-4"><div class="card" style="width: 23rem; height: 30;">
                <img src="../media/img/index.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div></div>
            <div class="col-4"><div class="card" style="width: 23rem; height: 30;">
                <img src="../media/img/index2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div></div>
            </div>
        </div>
    </div>
    <div class="about-content2">
        <div class="container text-white text-center">
            <div class="row mt-4">
                <div class="col-md-4 p-3">
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-4">
                    <div class="card bg-dark p-3">
                        <h3>Simpl Carter Hup</h3>
                        <p class="m-0">Lorem ipsum dolor sit amet consectetur. Quo dolorem asperiores unde voluptatem
                            deserunt exercitationem!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger p-3">
                        <h3>Simpl Carter Hup</h3>
                        <p class="m-0">Lorem ipsum dolor sit amet consectetur. Quo dolorem asperiores unde voluptatem
                            deserunt exercitationem!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark p-3">
                        <h3>Simpl Carter Hup</h3>
                        <p class="m-0">Lorem ipsum dolor sit amet consectetur. Quo dolorem asperiores unde voluptatem
                            deserunt exercitationem!</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="index_home/" class="btn btn-primary">Go somewhere</a>
        </div>
        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Social media -->
        
              <!-- Left -->
        
              <!-- Left -->
          
              <!-- Right -->
              <div>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <!-- Right -->
            </section>
            <!-- Section: Social media -->
          
            <!-- Section: Links  -->
            <section class="">
              <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                      Here you can use rows and columns to organize your footer content. Lorem ipsum
                      dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Products
                    </h6>
                    <p>
                      <a href="#!" class="text-reset">Python</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Django</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">GetBootstrap 5</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">MySQL</a>
                    </p>
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Useful links
                    </h6>
                    <p>
                      <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Help</a>
                    </p>
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> New York</p>
                    <p>
                    <i class="fas fa-envelope me-3"></i>
                    nurali07052020@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +99 897 439 88 87</p>
                    <p><i class="fas fa-print me-3"></i> +99 891 598 99 07</p>
                </div>
                <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            </section>
            <!-- Section: Links  -->  
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 FreeCompane:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">NurAli.com</a>
            </div>
            <!-- Copyright -->
        </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock content %}
</body>

</html>