{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
      <b>{{post.author}}</b><br>
      <i>{{post.time}}</i>
    </div>
    <div class="col-4">
      <a href="{% url 'post_edit' post.pk %}">Edit</a>
      <a href="{% url 'post_delete' post.pk%}">Delete</a>
    </div>
  </div>
</div>
  {% endblock content %}
</body>
</html>